Ask for a color and store that answer
If the answer is grey then print out you found Victor's favorite color.
Otherwise print out the color is not Victor's favorite color.

In [1]:
color = input("What is Victor's favorite color? ")
if color == "gray":
    print(f"Victor's favorite color {color} was found")
else:
    print(f"{color} is not Victor's favorite color")

What is Victor's favorite color? gray
Victor's favorite color gray was found

Now with the code before add in more conditions for other colors such as red, green, blue and write statements for them.

In [2]:
color = input("What is Victor's favorite color?")
if color == "gray":
    print(f"Victor's favorite color {color} was found")
elif color == "red":
    print(f"Victor despises {color}")
elif color == "green":
    print(f"Victor is {color} with envy")
elif color == "blue":
    print(f"Victor is feeling {color}")
else:
    print(f"{color} is not Victor's favorite color")

What is Victor's favorite color?red
Victor despises red

Ask for an exam score and store that number
If the number is greater than 100
print out you cannot have an exam score higher than 100.
if the number doesn't exceeed 100 but is greater than 75
print out you did great on your exam!
otherwise if they scored lower than 75
print out that they need to study harder.

In [3]:
grade = int(input("Input your exam score: "))
if grade > 100:
    print(f"{grade} cannot be above 100")
elif grade > 75:
    print(f"{grade} - you did great on your exam!")
else:
    print(f"{grade} - you need to study harder.")

Input your exam score: 100
100 - you did great on your exam!

Define a function that takes in 3 numbers and adds them together
Define a function that takes in 2 numbers and multiplies them
Tell the user to choose option 1 to add three numbers or to choose option 2 to mutiply two numbers.
If they choose 1 then use the first function otherwise if they choose 2 then use the second function.

In [4]:
def add_three_numbers():
    int1 = int(input("Input 1st number: "))
    int2 = int(input("Input 2nd number: "))
    int3 = int(input("Input 3rd number: "))
    total = int1 + int2 + int3
    print(f"{total} = {int1} + {int2} + {int3}")

def mult_two_numbers():
    int1 = int(input("Input 1st number: "))
    int2 = int(input("Input 2nd number: "))
    multiplier = int1 * int2
    print(f"{multiplier} =  {int1} * {int2}")

print("Pick an option from the menu below:")
print(" ")
print("1 - I want to add three numbers together")
print("2 - I want to multiply two numbers together")
print(" ")
option = int(input("Input 1 or 2: "))

if option == 1:
    print(" ")
    print("Option 1 selected:  add three numbers together")
    add_three_numbers()
elif option == 2:
    print(" ")
    print("Option 2 selected:  multiple two numbers together")
    mult_two_numbers()
else:
    print("Valid menu choices are 1 or 2.  {option} is not valid")

Pick an option from the menu below:

1 - I want to add three numbers together
2 - I want to multiply two numbers together

Input 1 or 2: 1

Option 1 selected:  add three numbers together
Input 1st number: 1
Input 2nd number: 1
Input 3rd number: 1
3 = 1 + 1 + 1

Make a loop go from 50 to 100 and print every iteration

In [5]:
for loop_ctr in range(50,101):
    print("iteration", loop_ctr)

iteration 50
iteration 51
iteration 52
iteration 53
iteration 54
iteration 55
iteration 56
iteration 57
iteration 58
iteration 59
iteration 60
iteration 61
iteration 62
iteration 63
iteration 64
iteration 65
iteration 66
iteration 67
iteration 68
iteration 69
iteration 70
iteration 71
iteration 72
iteration 73
iteration 74
iteration 75
iteration 76
iteration 77
iteration 78
iteration 79
iteration 80
iteration 81
iteration 82
iteration 83
iteration 84
iteration 85
iteration 86
iteration 87
iteration 88
iteration 89
iteration 90
iteration 91
iteration 92
iteration 93
iteration 94
iteration 95
iteration 96
iteration 97
iteration 98
iteration 99
iteration 100

Make an empty list and call it names

In [3]:
names = []

Make names filled with names of 5 people (Hannah, Victor, Sam, James, John)

In [4]:
names = ["Hannah", "Victor", "Sam", "James", "John"]

Make names sorted in reverse. Print out the list using a for-enchanced loop

In [5]:
#we're going to try using append, sort, reverse in different ways for practice to see what happens

#list is sorted alphabetically
x = sorted(names)
print(x)

#names.sort with reverse = True puts names in reverse alphabetical name order
names.sort (reverse = True)
for name in names:
    print("Name: ", name)

#names.reverse will put names in reverse order of how they were entered
names = []
names.append("Hannah")
names.append("Victor")
names.append("Sam")
names.append("James")
names.append("John")
print(" ")
print(names)
names.reverse()
for name in names:
    print("Name: ",name)

['Hannah', 'James', 'John', 'Sam', 'Victor']
Name:  Victor
Name:  Sam
Name:  John
Name:  James
Name:  Hannah

['Hannah', 'Victor', 'Sam', 'James', 'John']
Name:  John
Name:  James
Name:  Sam
Name:  Victor
Name:  Hannah

Make names sorted alphabetically. Print out the list using regular for loop

In [9]:
#names.sort will sort names alphabetically

names.sort()
for i in range(0,len(names)):
    print("Name: ",names[i])

Name:  Hannah
Name:  James
Name:  John
Name:  Sam
Name:  Victor

Pull out the fourth item from names and print it out

In [15]:
print(f"Fourth name in names list is {names[3]}")

Fourth name in names list is Sam

Pull out the first item from names and print it out

In [16]:
print("First name in names list is ", names[0])

First name in names list is  Hannah

Make an empty list called words and add each word into the list using the append function. The words are (Hello, Python,Class, Friends, Online, Jupyter).
Print out the list using a for-enchanced loop

In [36]:
words = []
words.append("Hello")
words.append("Python")
words.append("Class")
words.append("Friends")
words.append("Online")
words.append("Jupyter")
for word in words:
    print(word)

Hello
Python
Class
Friends
Online
Jupyter

Make words lose it's last word and print out the new list.

In [20]:
words.remove("Jupyter")
print(words)

['Hello', 'Python', 'Class', 'Friends', 'Online']

Make a variable named fruits that contains a string "Apples Oranges Bananas Pineapples Persimmons Dragonfruit" and make it into a list splitting it by the spaces.

In [10]:
#this is string
fruits = 'Apples Oranges Bananas Pineapples Persimmons Dragonfruit'
#split changed string to list
fruit_list = fruits.split(' ')
print("Fruit list is: ",fruit_list)

Fruit list is:  ['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Make a variable named fruits that contains a string "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit" and make it into a list splitting it by the commas.

In [11]:
#this is string
fruits = "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit"
#this is list
fruit_list = fruits.split(',')
print("Fruit list is: ",fruit_list)

Fruit list is:  ['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']